# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
env/

# Logs
*.log

# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Pygame Zero cache (importante)
.pgzero_cache/

# Build / dist
build/
dist/
*.egg-info/

# Backup files
*~